/* estilos do menu */
#LeftMNav {
z-index : 100000; 
} 
#LeftMNav UL {
padding-right : 0; 
padding-left : 0; 
padding-bottom : 0; 
margin : 0; 
width : auto; 
color : #ffffff; 
padding-top : 0; 
background-color : #bacee0; 
} 
#LeftMNav LI {
padding-right : 0; 
padding-left : 0; 
padding-bottom : 0; 
margin : 0; 
padding-top : 0; 
list-style-type : none; 
} 
#LeftMNav a {
border-right : 1px solid #c3c8cb; 
padding-right : 0; 
background-position : 100% 50%;
border-top : 1px solid #fefefe; 
display : block; 
padding-left : 2px; 
font-weight : normal; 
padding-bottom : 3px; 
border-left : 1px solid #fefefe; 
padding-top : 3px; 
border-bottom : 1px solid #c3c8cb; 
background-color: #eaeeee; 
font-size : 10px; 
color : #048; 
font-family : Ms Sans Serif, Times New Roman; 
text-decoration : none; 
} 
#LeftMNav a:hover {
border-left-color : #fefefe;
border-bottom-color : #c3c8cb; 
border-top-color : #fefefe; 
background-color: #f8fafc;
border-right : 3px solid #E65B00; 
font-size : 10px; 
color : #ff3e3e; 
font-family : Ms Sans Serif, Times New Roman; 
text-decoration : none; 
} 
#LeftMNav a:active {
border-left-color : #fefefe; 
border-bottom-color : #c3c8cb; 
border-top-color : #fefefe; 
background-color : #f8fafc; 
border-right-color : #c3c8cb; 
font-size : 10px; 
color : #048; 
font-family : Ms Sans Serif, Times New Roman; 
text-decoration : none; 
} 
.menuheader {
font-family : verdana,arial,helvetica,sans-serif; 
font-size : 10px; 
text-align : left; 
font-weight : bold; 
color : #fff; 
background: #6898d0 url(arrow_orange.gif) no-repeat center left; 
padding-top : 3px; 
padding-bottom : 3px; 
padding-left : 14px; 
border-bottom : 1px solid #3a6081; 
border-right : 1px solid #3a6081; 
border-top : 1px solid #f1f5fa; 
display : block; 
} 


/* estilos do arvore */

.tree {
 overflow: auto; width: 25%; height: 25em; cursor: default; border: 1px solid gray; padding-left: .5em;
}
.treeitem {
  margin-right: .6em;
}
.collapsedgroup { 
  display : none;
 }
.group {
   margin-left: 1.5em;
 }
.treeitemfocus {
 outline: 0px; background-color: #dddddd; color: black;
}
